<h2><%= t(:editing_model, model: t(:user, scope: 'activerecord.models'))%></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="form-inputs">

    <%= f.input :fullname, autofocus: true %>
    <%= f.input :email, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :cpf, required: true %>
    <%= f.input :birthday %>
    <%= f.input :phone, as: :tel %>
    <%= f.input :gender_id, collection: Gender.all %>

    <%= f.input :password,
                hint: t(:new_password, scope: 'devise.change_password_hints'),
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: t(:current_password, scope: 'devise.change_password_hints'),
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:edit), class: 'btn btn-primary' %>
  </div>
<% end %>

<h3><%= t(:text, scope: 'devise.cancel_account') %></h3>

<p><%= t(:unhappy, scope: 'devise.cancel_account') %> <%= link_to t(:text, scope: 'devise.cancel_account'), registration_path(resource_name), data: { confirm: t(:are_you_sure) }, method: :delete %></p>

<%= link_to t(:back), :back %>
