<h1><%= t(:category, scope: 'activerecord.models') %></h1>

<%= search_form_for @q, class: 'col-md-6 col-lg-4 d-flex' do |f| %>
  <div class="form-group mr-2">
    <%= f.search_field :name_cont,
                        class: 'form-control', 
                        placeholder: t(:name, scope: 'activerecord.attributes.category') %>
  </div>

  <div class="form-group">
    <%= f.submit t(:search), class: "btn btn-primary" %>
  </div>

<% end %>

<table>
  <thead>
    <tr>
      <th><%= t(:name, scope: 'activerecord.attributes.category') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name.capitalize %></td>
        <td><%= link_to t(:show), category_path(alias: category.alias) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
