<!DOCTYPE html>
<html>
  <head>
    <title>Store Pol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'scripts' %>
    <%= javascript_pack_tag 'styles' %>
  </head>

  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <%= yield %>
  </body>
</html>
