<!DOCTYPE html>
<html>
  <head>
    <title>Store Pol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'scripts' %>
    <%= javascript_pack_tag 'styles' %>
  </head>

  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <nav class="navbar navbar-expand-md navbar-light bg-info px-5 font-title">
      <%= link_to t(:company_slogan), root_path, class: 'text-dark h2' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto font-menu">
          <li class="nav-item active">
            <%= link_to t(:home, scope: 'menu'), root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t(:profile, scope: 'menu'), myprofile_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t(:cart, scope: 'menu'), root_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
